@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
html, body {
  overflow-x: hidden;  
}

.social-links {
  flex-direction: row; 
  justify-content: space-around; 
}

.social-links {
  flex-direction: column;
}

@media (max-width: 950px) {
  .social-links {
    align-items: start;
  }
}
  
 
  

  
  
  
 